<div class="container">
  <h1><%= @restaurants.name %></h1>
  <h2> <%= @restaurants.address %> </h2>
<button type="button" class="btn btn-primary"><%= link_to "Back to list", restaurants_path %></button>
</div>
